.headerContainer {
    width: 960px;
    margin: auto;
}

.jumbotron{
    background-color: #0978e7;
} 

.fa-newspaper {
    color: #eee;
}

h1 {
    color: #eee;
    font-weight: bold;
    font-size: 44px !important;
}

h2{
    color: #272626;
    font-weight: lighter;
    font-size: 24px;
}

#searchParameter {
    width: 360px;
    margin: auto;
    margin-right: 70%;
}



.btn-team {
    background-color: #B44;
    color: #ffffff;
}



.day1{
    background-color:rgb(0, 17, 255);
    margin-left: 5%;
    border-style: solid;
    border-width: 0.5ch;
    color: white  ;
}
.day2{
    background-color: rgb(0, 17, 255);
    border-style: solid;
    border-width: 0.5ch;
    color: white  ;
}

.day3{
    background-color: rgb(0, 17, 255);
    border-style: solid;
    border-width: 0.5ch;
    color: white  ;
}
.day4{
    background-color: rgb(0, 17, 255);
    border-style: solid;
    border-width: 0.5ch;
    color: white ;
}
.day5{
    background-color: rgb(0, 17, 255);
    border-style: solid;
    border-width: 0.5ch;
    color: white  ;
}

.uVindex{
background-color: #B44;
color: #eee;
}
   



