.headerContainer {
    width: 960px;
    margin: auto;
}

.city{
    width: 50%
    
}

.jumbotron{
    background-color: #868f9b;
} 

.fa-newspaper {
    color: #eee;
}

h1 {
    color: #eee;
    font-weight: bold;
    font-size: 44px !important;
}

h2{
    color: #272626;
    font-weight: lighter;
    font-size: 32px;
    font-style: bold;
}

#searchParameter {
    width: 360px;
    margin: auto;
    margin-right: 70%;
}



.btn-team {
    background-color: #B44;
    color: #ffffff;
}



.day1{
   
    margin-left: 7%;
    border-style: solid;
    border-width: 0.5ch;
    color: black  ;
    background-color:  #8e9bac;
}
.day2{

    border-style: solid;
    border-width: 0.5ch;
    color: black  ;
    background-color:  #8e9bac;
}

.day3{
    
    border-style: solid;
    border-width: 0.5ch;
    color: black  ;
    background-color:  #8e9bac;
}
.day4{
   
    border-style: solid;
    border-width: 0.5ch;
    color: black ;
    background-color:  #8e9bac;
}
.day5{
 
    border-style: solid;
    border-width: 0.5ch;
    color: black  ;
    background-color:  #8e9bac;
}

.uVindex{
background-color: #B44;
color: #eee;
}
   

button{
    width:100%;
    background-color: #8e9bac;
}

